.box {
  top: 10rem;
  padding: 2.5em 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #57cc99;
  color: #000;
}

.button {
  float: left;
  min-width: 150px;
  max-width: 250px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  position: relative;
  z-index: 1;
  -moz-osx-font-smoothing: grayscale;
}

.button:focus {
  outline: none;
}

.button > span {
  vertical-align: middle;
}

.bg .button {
  color: #000;
  border-color: none;
  font-weight: 600;
}

.button--size-s {
  font-size: 14px;
}

.bg {
  background: #d8f3dc;
  color: #000;
}

.button--border-thick {
  border: 3px solid #80ed99;
}

.button--green {
  padding: 1.5em 3em;
  border-radius: 50px;
  background-color: #80ed99;
  color: #000;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.button--green::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  border-radius: 50px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}
.button--green:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #000;
  background-color: #70e000;
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
  border-color: #70e000;
}

.button--pink:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #000;
  background-color: #eaac8b;
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
  border-color: #eaac8b;
}

.button--blue:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #000;
  background-color: #48bfe3;
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
  border-color: #48bfe3;
}

.button--red:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #000;
  background-color: #f94144;
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
  border-color: #f94144;
}

.button--green:hover::before {
  -webkit-animation: anim-2 0.3s 0.3s forwards;
  animation: anim-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
